<nav class="column">
    <div class="header">
        <div class="image centered">
            <img src="assets/img/Logo.PNG" alt="Hotel's logo">
        </div>
        <div class="title">
            <h1>Manage your hotel</h1>
        </div>
    </div>
    <div *ngIf="user != null">
        <div class="taskbar rightCentered">
            <div class="welcome">
                <p>Welcome {{user.username}} </p>
            </div>
            <div class="icons">
                <mat-icon (click)="goHome()" id="goHome">home</mat-icon>
                <mat-icon (click)="logOut()" id="logOut">logout</mat-icon>
            </div>
        </div>
    </div>
</nav>