@import "src/scss/main.scss";

.addElements,
.buildings,
.floors
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 4vh;
}

.rooms
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;

    table
    {
        border: solid 2px #011F32;
        background-color: #023F64;
        color: #36B0FC;
        border-collapse: collapse;

        tr
        {
            border-top: solid 1px #011F32;
            font-size: 2.5vh;

            th
            {
                font-weight: 400;
            }

            td
            {
                min-width: 20vw;
                height: 8vh;
                padding: 0 4vw;
            }
            button
            {
                margin-top: 1.2vh;
                margin-right: 2vw;
            }
        }
    }
}