@import "src/scss/main.scss";

.button
{
    padding: 2vh;
    margin: 3vh;
    border: solid 4px $textColor;
    border-radius: 20px;
    width: 15vh;
    .mat-icon
    {
        font-size: 15vh;
    }
}