.title
{
    padding: 3vh 8vw;
}

.centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main
{
    background-color: $bgColor;
    min-height: 88vh;
    color: $textColor;
    padding-bottom: 6vh;
}

.welcome
{
    padding: 3vh 0;
}