// Alerts styles
::ng-deep
{
    .mat-dialog-container
    {
        background-color: $textColor;
        color: $bgColor;
        font-size: 3vh;
        width: 70vw;
        font-weight: 450;
        display: flex;
        justify-content: center;

        .mat-dialog-content
        {
            margin-top: 3vh;
            // margin-bottom: 2vh;
            padding: 1vh 1vw;
        }

        .alertIcon
        {
            height: 11vh;

            .mat-icon
            {
                font-size: 10vh;
                margin-left: 16vw;
            }
        }

        .mat-progress-spinner circle,
        .mat-spinner circle
        {
            stroke: $bgColor;
        }

        .mat-dialog-actions
        {
            display: flex;
            justify-content: center;
        }
    }
}

// Forms styles
::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline,
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline 
    {
        color: $textColor;
    }
    mat-form-field {
        .mat-hint,
        input,
        ::placeholder,
        .mat-form-field-label {
            color: $textColor;
        }
    }

    // Wrapper styles
    .mat-form-field-wrapper
    {
        width: 50vw;
        margin-right: 8vw;

        @media screen and (min-width: 600px)
        {
            font-size: $formInputTextSizeTablet;
        }

        @media screen and (min-width: 1200px)
        {
            width: 20vw;
            margin-right: 4vw;
        }
        
        .icon
        {
            background-color: transparent;
            color: $textColor;
            border: none;
            font-size: 2.5vh;
        }
    }

    // focused styles
    .mat-form-field.mat-focused {
        .mat-form-field-label,
        .mat-form-field-required-marker,
        .mat-input-element
        {
            color: $textColor;
        }
    }

    // invalid styles
    .mat-form-field.mat-form-field-invalid {
        .mat-input-element,
        .mat-form-field-label
        {
            color: $formErrorColor;
            .mat-form-field-required-marker {
                color: $formErrorColor;
            }
        }
        .iconButton
        {
            color: $formErrorColor !important;
        }
    }
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick
    {
        color: $formErrorColor;
    }
    .mat-error{
        color: $formErrorColor;
    }

    // disabled styles
    .mat-input-element:disabled
    {
        color: $textColor;
    }
    .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
        color: $textColor;
    }
}

// Table styles
::ng-deep 
{
    .mat-table
    {
        border: solid 2px $tableBorderColor;
        border-right-width: 3px;
        border-left-width: 3px;
    }
}