@import "src/scss/main.scss";

.mat-card
{
    width: 80vw;
    background-color: #025A7C;
    color: $textColor;

    .mat-card-header
    {
        border-bottom: solid 2px $bgColor;
    }

    .field
    {
        font-size: 2.5vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 3vh 0;

        input
        {
            font-weight: 100;
        }

        .validationError
        {
            margin-left: 31vw;
            margin-top: 1vh;
            font-size: 2.2vh;
            color: #f7a1a1;
        }
    }

    .mat-card-actions
    {
        display: flex;
        justify-content: flex-end;

        button
        {
            font-size: 2.5vh;
            margin: 3vh 3vw;
            margin-top: 0;
        }
    }
}